@tailwind base;
@tailwind components;

/* vars then custom classes */

:root {
	--cq-color-white: #d9d9d9;
	--cq-color-blue: #537bec;
	--cq-color-green: #38b2ac;
	--cq-color-red: #ff5986;
	--cq-color-gray: #1f2c3a;
	--cq-color-black: #0e1b2a;
}

.cq-bg {
	background-color: var(--cq-color-gray);
}

.cq-bg-darker {
	background-color: var(--cq-color-black);
}

.h-content {
	height: calc(100vh - 80px);
}

.cq-text-white {
	color: var(--cq-color-white);
}

.filter-drop-shadow {
	filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.1))
		drop-shadow(0 1px 2px rgba(0, 0, 0, 0.06));
}

@tailwind utilities;
